.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_site/
/docs/
*_cache
# images in the root directory
/*.jpg
/*.jpeg
02-intro-spatial-data_files
03-intro-telemetry-data_files
06-raster-data_files
07-processing-vector-data_files
rosm.cache
04-spatial-data-viz_files
